<!DOCTYPE html >
<html lang="ro" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Resurse/css/bg-fixat.css">
    <%- include("../fragmente/head.ejs") %>
</head>
<body  class="background-page">
    <%- include("../fragmente/header.ejs") %>
    <%- include("../fragmente/galerie.ejs", { imagini: imagini }) %>
    <script src="/Resurse/js/galerie-animata.js"></script>
</body>
<%- include("../fragmente/footer.ejs") %>
</html>