.formula .rer {
  color: blue;
  font-weight: bold;
}

.formula .egal,
.formula .inmultire,
.formula .paranteza {
  color: black;
}

.formula .numar {
  color: green;
}

.formula .greutate {
  color: red;
  font-style: italic;
}

.formula .exponent {
  color: purple;
}
