a {
    color: var(--color-text-principal);       /* culoare text gri închis */
    text-decoration: none;                    /* elimină sublinierea implicită */
    font-weight: 500;                         /* text semi-îngroșat */
    position: relative;                       /* necesar pentru efecte suplimentare */
    transition: all 1s ease;                /* animație la hover */
    border-bottom: 1px dotted var(--color-mov); /* bordură punctată mov la partea de jos */
    font-size: 1rem;                          /* dimensiune font standard */
}
a:not(nav a) {
    padding-bottom: 2px;                      /* spațiu suplimentar sub text */
}

a:hover {
    color: var(--color-text-principal);       /* păstrează aceeași culoare */
    border-bottom-color: var(--color-roz-deschis); /* schimbă culoarea bordurii în roz */
}