<footer class="footer">
    <p><a href="#acasa-sus">Înapoi la începutul paginii</a></p>
    <div id="banner-proiect-scolar">Acesta este un proiect școlar!</div>
    <p><small>Copyright &copy; <time datetime="2025">2025</time> Stoichița Ioana-Anamaria</small></p>
  </footer>
  