<header id="acasa-sus" class="header">   
  <img src="Resurse/Imagini/logo.png" alt="Logo" class="img-mare">   
  <h1 class="indie-flower-regular" style="color: rgb(0, 0, 0);">Centrul de Adoptii - Pandi&Pedro</h1>   
  <nav>     
    <input type="checkbox" id="hamburger-toggle" class="hamburger-toggle">     
    <label for="hamburger-toggle" class="hamburger" aria-label="Meniu">       
      <span></span>       
      <span></span>       
      <span></span>     
    </label>     
    <ul class="nav-list"> 
      <li class="has-submenu">   
        <a href="/#acasa" class="menu-item menu-item-acasa" title="Acasă" data-hover-text="Acasă">     
          <img src="Resurse/Imagini/acasa.png" alt="Acasă" class="menu-icon">     
          <span class="menu-text">Acasă</span>   
        </a>   
        <input type="checkbox" id="submenu-acasa" class="submenu-toggle">   
        <label for="submenu-acasa" class="submenu-label"></label>   
        <ul class="submenu">     
          <li><a href="/#anunturi"><span class="menu-text">Anunțuri</span></a></li>     
          <li><a href="/#statistici"><span class="menu-text">Statistici</span></a></li>     
          <li><a href="/#faq"><span class="menu-text">FAQ</span></a></li>   
        </ul> 
      </li>       
      <li class="has-submenu">         
        <a href="/#adoptie" class="menu-item" data-hover-text="Adopție Animale">
          <span class="menu-text">Adopție Animale</span>
        </a>         
        <input type="checkbox" id="submenu-adoptie" class="submenu-toggle">         
        <label for="submenu-adoptie" class="submenu-label"></label>         
        <ul class="submenu">           
          <li><a href="/#pisici"><span class="menu-text">Pisici</span></a></li>           
          <li><a href="/#caini"><span class="menu-text">Căței</span></a></li>           
          <li><a href="/#alteanimale"><span class="menu-text">Alte Animale</span></a></li>         
        </ul>       
      </li>       
      <li class="has-submenu">         
        <a href="/#donatii" class="menu-item" data-hover-text="Donații">
          <span class="menu-text">Donații</span>
        </a>         
        <input type="checkbox" id="submenu-donatii" class="submenu-toggle">         
        <label for="submenu-donatii" class="submenu-label"></label>         
        <ul class="submenu">           
          <li><a href="/#cumdonez"><span class="menu-text">Cum donez?</span></a></li>         
        </ul>       
      </li>       
      <li class="has-submenu">         
        <a href="/#voluntariat" class="menu-item" data-hover-text="Voluntariat">
          <span class="menu-text">Voluntariat</span>
        </a>         
        <input type="checkbox" id="submenu-voluntariat" class="submenu-toggle">         
        <label for="submenu-voluntariat" class="submenu-label"></label>         
        <ul class="submenu">           
          <li><a href="/#cumdevin"><span class="menu-text">Cum devin voluntar?</span></a></li>           
          <li><a href="/#ceface"><span class="menu-text">Ce face un voluntar?</span></a></li>         
        </ul>       
      </li>       
      <li class="has-submenu">         
        <a href="/#informatii" class="menu-item" data-hover-text="Informații Utile">
          <span class="menu-text">Informații Utile</span>
        </a>         
        <input type="checkbox" id="submenu-informatii" class="submenu-toggle">         
        <label for="submenu-informatii" class="submenu-label"></label>         
        <ul class="submenu">           
          <li><a href="/#pisiciinfo"><span class="menu-text">Pisici</span></a></li>           
          <li><a href="/#cainiinfo"><span class="menu-text">Câini</span></a></li>         
        </ul>       
      </li>       
      <li>         
        <a href="/#contact" data-hover-text="Contact">
          <span class="menu-text">Contact</span>
        </a>       
      </li>       
      <li>         
        <a href="/despre" class="menu-item" data-hover-text="Despre Noi">
          <span class="menu-text">Despre Noi</span>
        </a>       
      </li>       
      <li>         
        <a href="/galerie-animata" class="menu-item" data-hover-text="Galerie Statica">
          <span class="menu-text">Galerie Statica</span>
        </a>       
      </li> 
                  <li><a href="#animale">Animale</a>
                <ul class="submenu">
                    <li><a href="/animale">Toate</a></li>
                    <% for (let optiune of optiuni) { %>
                        <li><a href="/animale?categ=<%= optiune.unnest %>"><%= optiune.unnest %></a></li>
                    <% } %>
                </ul>
            </li>    
    </ul>   
  </nav> 
</header>