    <title>Adopție Animale</title>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="adopție, cum adopt, animale spre adopție, pisici, câini, animale, donații, voluntariat, îngrijire animale, boli animale, îngrijire pisici, îngrijire câini, asociații, control animale, alimentație animale, ajutor animale, organizație.">
    <meta name="description" content="Pagină pentru adopții animale!">
    <meta name="author" content="Stoichita Ioana-Anamaria"> 
    <link rel="icon" type="image/png" href="/Resurse/Imagini/Favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/Resurse/Imagini/Favicon/favicon.svg" />
    <link rel="shortcut icon" href="/Resurse/Imagini/Favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/Resurse/Imagini/Favicon/apple-touch-icon.png" />
    <link rel="manifest" href="/Resurse/Imagini/Favicon/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#f3cbf0">
    <link rel="stylesheet" href="/Resurse/css/style.css">  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/your-code-here.js" crossorigin="anonymous"></script>